@import "reset.css";
@import "fonts/stylesheet.css";

::selection {
	background: #ffffff;
	color: #000000;
}

html,
body {
	font-family: "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif;
	background: #ffffff;
	color: #f82148;
	font-weight: 500;
}

main {
	box-sizing: border-box;
	padding: 6rem;
}

section {
	box-sizing: border-box;
	max-width: 28rem;
	padding: 2rem 1rem;
}

section .content {
	padding: 1.2rem 0 0 0.8rem;
}

section h1 {
	font-size: 1.2em;
	line-height: 1.4em;
	letter-spacing: 0.08em;
}

section h2 {
	font-size: 1em;
	line-height: 1.1em;
	letter-spacing: 0.06em;
}

section h3 {
	font-size: 0.8em;
	line-height: 1.1em;
	letter-spacing: 0.05em;
}

section h3 a {
	color: inherit;
}

section h3 sup {
	font-size: 0.4em;
}

section h4 {
	font-size: 0.7em;
	line-height: 1.1em;
	letter-spacing: 0.05em;
}

section ul li:not(:last-child) {
	margin-bottom: 1rem;
}

section ul li h3 {
	margin-bottom: 0.3rem;
}

section p {
	font-weight: 500;
	font-size: 0.8em;
	line-height: 1.1rem;
	letter-spacing: 0.025em;
}

section p a {
	color: #f82148;
}

section summary {
	font-weight: 500;
	font-size: 0.7em;
	line-height: 1.1rem;
	letter-spacing: 0.025em;
	margin-top: 0.5rem;
}

section ul {
	list-style-image: url(/as/img/seg-noun.svg);
}

section .content a.maj {
	display: block;
	color: #f82148;
	font-weight: 500;
	font-size: 0.8em;
	line-height: 1.1rem;
	letter-spacing: 0.025em;
	margin: 0.8rem 0;
}

section .content a.maj::before {
	display: inline-block;
	content: url(/as/img/x-noun.svg);
	width: 0.8rem;
	margin-right: 0.4rem;
}


section .content hr {
	border: none;
	border-top: 1px solid #ff0000;
	width: 0.8rem;
	padding: 0;
	margin: 0.8rem 0;
}

@media only screen 
and (max-width : 528px) {
	main {
		padding: 1.6rem;
	}

	section h1 {
		font-size: 1em;
	}
	
	section h2 {
		font-size: 0.8em;
	}
	
	section h3 {
		font-size: 0.7em;
	}
	
	section h4 {
		font-size: 0.6em;
	}
	
	section p {
		font-weight: 500;
		font-size: 0.7em;
		line-height: 1.1rem;
		letter-spacing: 0.025em;
	}
	
	section p a {
		color: #f82148;
	}
	
	section summary {
		font-weight: 500;
		font-size: 0.7em;
		line-height: 1.1rem;
		letter-spacing: 0.025em;
		margin-top: 0.5rem;
	}
}